* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');



/*----------------NAV--------------------------*/

header {
    background: linear-gradient(rgba(0, 0, 0, 0.333), rgba(0, 0, 0, 0.297)), url(..//image/Header.7500);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px, 80px, 60px, 80px;

}

.title {
    color: rgb(10, 9, 9);
    font-size: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    text-align:center;
    font-size: 81.9px;
    color:#e8ba56cc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    padding-top:30px;
    padding-bottom: 50px;

}

.title div {
    border: 9px ridge transparent;
    color: #e8ba56cc;
}

.ref {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
    font-size: 30px;
    flex-wrap: wrap;
    margin-bottom:0 !important;
}

.ref li {
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    padding: 4px;
}

.ref a {
    list-style: none;
    text-decoration: none;
    color: rgba(225, 198, 140, 0.811);
    margin-top: 40px;
}

.ref li:hover {
    background: rgba(255, 255, 255, 0.1);
    transform: scale(1.1);
}


/*----------------Main-------------------------*/

main {
    background-color: #b0a498 !important;
}

/* -----------------HOME---------------- */

.subt {
    font-size: 40px;
    font-style: italic;
    font-family: 'Dancing Script', cursive;
    font-weight: 700px;
    color: #DED6CF;
    padding: 5px;
    border: solid rgba(239, 194, 126, 0.395) 1px;
    background-color: rgba(239, 194, 126, 0.395);
    border-radius: 5%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    text-align: center;
    margin-bottom: 20vh;
}


.important {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: 1fr 1fr 3fr 3fr;
    row-gap: 50px;

}


.important img {
    height: 70vh;
    width: 60vh;
    border: #333333 1px solid;
    border-radius: 15px;
    margin: 10px;
}

.newin1 {
    grid-row-start: 5;
    grid-column-start: 2;
    display: flex;
    justify-content: space-around;
    grid-column-end: 4;
    font-family: 'Dancing Script', cursive;
    border: #f7dabd75 solid 3px;
    border-radius: 15px;
    background-color: #f7dabd75;
    margin-bottom: 20vh;
}

.newin1 p {
    padding-right: 50px;
    text-align: center;

}

.newin2 {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    font-family: 'Dancing Script', cursive;
    border: #f7dabd75 solid 3px;
    border-radius: 30px;
    background-color: #f7dabd75;
    margin-bottom: 20vh;
}

.newin2 p {
    padding-left: 50px;

}

.newin3 {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    justify-content: space-around;
    grid-column-end: 4;
    font-family: 'Dancing Script', cursive;
    border: #f7dabd75 solid 3px;
    border-radius: 30px;
    background-color: #f7dabd75;
    margin-bottom: 20vh;
}

.newin3 p {
    padding-right: 50px;
}

.important p {
    color: #000000ca;
    font-size: 2vw;
    text-justify: auto;
    text-align: center;
    justify-content: center;
    margin-top: 3rem;
}

/* ---------------CLOTHES/ACCESORIES-------- */
.product {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.producttxt {
    font-family: 'Times New Roman', Times, serif;
    color: #ebd4c1;
    padding: 5px;
}

.product div img {
    height: 60vh;
    width: 50vh;
    border-bottom: solid rgba(239, 194, 126, 0.395) 1px;
    padding: 5px;
    border-radius: 2%;
}

.product div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10vh;
    border: solid rgba(239, 194, 126, 0.395) 1px;
    background-color: rgba(239, 194, 126, 0.395);
    border-radius: 2%;
}



/* -----------ABOUTUS------------- */

.aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
}



.aboutus img {
    height: 400px;
    width: 350px;
    margin-right: 40px;
    border: solid rgba(241, 189, 171, 0.692) 5px;
    background-color: rgba(221, 200, 169, 0.685);
    margin: 80px 30px 80px 50px;

    
}



.aboutus p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    text-align: center;
    font-size: 30px;
    text-align: left;

}



/* ----------------CONTACTUS-------------- */
.contact{
    background-color: #b0a498;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.text h1 {
    font-size: 30px;
    text-align: center;
    font-weight: 900;
}

.text {
    font-size: 25px;
    font-family: cursive;
    border: #DED6CF 2px solid;
    background-color: #e3cfbbb6;
    text-align: center;
    padding: 50px;
    margin: 60px 70px 60px 70px;
}



.formthing {
    margin-left: 25%;
    margin-top: 10rem;
}

.formthing button {
    margin-left: 13%;
    margin-top: 40px;
}

/*---------FOOTER----------*/
footer {
    background-color: #333333 !important;
    padding: 40px;
    border: solid black 3px;
}

.social {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.social div a img{
    height: 50px;
    width: 50px;
}


/*----QUERRIES----*/

@media only screen and (max-width: 768px){

    .aboutus {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .aboutus img{
        height: 40vh;
        width: 60vh;
        margin-top: 20vh;
        margin-bottom: 20vh;
    }

    .aboutus p{
        margin-bottom: 20vh;
        margin-left: 10vh;
        margin-right: 10vh;
        font-size: 30px;

    }
    .social div a img{
        height: 30px;
        width: 30px;
    }

    .product div img {
        height: 25vh;
        width: 20vh;
    }

    .producttxt {
        font-size: 25px;
    }

}


@media only screen and (max-width: 480px) {
    .aboutus {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .aboutus img{
        height: 20vh;
        width: 30vh;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    .aboutus p{
        margin-bottom: 10vh;
        margin-left: 5vh;
        margin-right: 5vh;
        font-size: 15px;

    }
    .social div a img{
        height: 20px;
        width: 20px;
        margin: 10px;
    }

}